body{
    background-color: rgb(255, 255, 255);

}
.box{
    border: 5px solid black;
    height: 1000px;
    background-color: aquamarine;
    display: grid;
    grid-template-areas: "cabecalho cabecalho cabecalho"
                         "base base base"
                         "rodape rodape rodape";
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 100px 1fr 90px;
    text-align: center;
    font-size: 30px;
}
.cabecalho{
    padding-top: 35px;
    grid-area: cabecalho;
    background-color: bisque;
}
.menuE{
    grid-area: menuE;
    display: grid;
    grid-template-areas: "l1"
                         "l2"
                         "l3";
    grid-template-columns:1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.base{
    grid-area: base;
    background-color: rgb(29, 135, 197);
    display: grid;
    grid-template-areas: "menuE conteudo menuL";
    grid-template-columns:200px 1fr 200px ;
    grid-template-rows: 1fr;
}
.menuL{
    grid-area: menuL;
    background-color: rgb(49, 197, 29);
    padding-top: 250px;
}
.rodape{
    grid-area: rodape;
    background-color: rgb(135, 29, 197);
    padding-top: 30px;
}
.conteudo{
    grid-area: conteudo;
    background-color: rgb(194, 197, 29);
    padding-top: 250px;
}
.l1{
    grid-area: l1;
    background-color: azure;
    padding-top: 140px;
}
.l2{
    grid-area: l2;
    background-color: rgb(33, 58, 58);
    padding-top: 140px;
}
.l3{
    grid-area: l3;
    background-color: rgb(67, 194, 194);
    padding-top: 140px;
}